# Next.js Production & Vercel Environment Variables
# In Vercel Project Settings, set NEXT_PUBLIC_API_BASE_URL to your deployed Render URL + /api/v1
# Example: https://mbaazar-analytics-backend.onrender.com/api/v1

NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1

#NEXT_PUBLIC_API_BASE_URL=https://mb-olap-v2.onrender.com/api/v1